@import 'color';
* {
  @include vender(box-sizing, border-box);
  @include vender(font-smoothing, antialiased);
}

body,
html {
  margin: 0;
  line-height: 1.8;
  color: #222;
  font-family: 'fot-tsukuardgothic-std', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  $font__accent: 'Lora', serif;
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5vh 0;
  line-height: 1.6;
}

ul {
  padding: 0;
  list-style: none;
  line-height: 2;
  li {
    margin: 0;
    padding: 0;
  }
}

video {
  max-width: 100%;
}

form {
  width: 100%;
}